.content {
  @extend .wrap;
  @include clearfix;
  margin-top: 60px;
  @media screen and (max-width: 740px) {
    margin-top: 50px;
  }
  h2 {
    margin-bottom: 45px;
    font-family: $serif;
    font-size: 1.625em;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1.375em;
    text-align: center;
    @media screen and (max-width: 740px) {
      margin-bottom: 25px;
    }
  }
  p {
    margin-bottom: 20px;
    font-family: $serif;
    font-size: 1.125em;
    line-height: 1.8em;
    a {
      @include fancyUnderline($red);
    }
  }
  &-text {
    padding-right: 20px;
    width: 60%;
    p {
      font-style: italic;
    }
  }
  &-info {
    padding-left: 20px;
    width: 40%;
    &-button {
      @extend .button;
      letter-spacing: 0.1em;
      margin: 8px 0 35px;
    }
  }
  &-text,
  &-info {
    float: left;
    margin-bottom: 30px;
    @media screen and (max-width: 740px) {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
}
