.footer {
  @extend .wrap;
  &-logo {
    @include retina-image(images/logomark, contain, png, images/logomark_2x, _2x);
    display: block;
    width: 95px;
    height: 29px;
    margin: 20px auto 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
  }
}
