.header {
  @extend .wrap;
  padding: 0 40px !important;
  h1 {
    @include retina-image(images/logo, contain, jpg, images/logo_2x, _2x);
    display: block;
    width: 276px;
    height: 175px;
    margin: 50px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    @media screen and (max-width: 740px) {
      margin: 30px auto;
    }
  }
}
