.slider {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 800px;

  &-image {
    width: 100%;

    img {
      @include size(100% auto);
    }
  }

  &-pager {
    @include position(absolute, null 0 30px);
    font-size: 0;
    text-align: center;
    z-index: 999;

    span,
    a {
      @include transition(background-color .2s $ease-in-out-quint);
      @include size(18px);
      display: inline-block;
      margin: 0 6px;
      border: 2px solid $white;
      border-radius: 50%;
      text-indent: -9999px;
      cursor: pointer;

      &.is-current,
      &:hover,
      &:focus {
        background-color: $red;
      }
    }
  }

  &-next,
  &-prev {
    @include position(absolute, 0 null 0 0);
    cursor: url(images/left.png) 11 6, w-resize;
    width: 15%;
    z-index: 998;

    &.is-disabled {
      cursor: url(images/close.png) 6 6, not-allowed;
    }
  }
  &-next {
    cursor: url(images/right.png) 11 5, e-resize;
    right: 0;
    left: auto;
  }
}
