<section class="content">
  <h2>Inspired&nbsp;Menus. Seasoned&nbsp;Event&nbsp;Planning. Remarkable&nbsp;Service.</h2>

  <div class="content-text">
    <p>Field Day is a collaboration between chefs Matt Howard and Jeremy Larter that began in 2013. The two met while attending Johnson &amp; Wales University in Providence, RI more than 20 years ago. After a number of years travelling around the country to further their culinary educations, each would separately land in Portland, Oregon. Both chefs were quickly taken with the wealth of ingredients offered by the Willamette Valley. It did not take long for each of them to start calling the Pacific Northwest home.</p>

    <p>Over the last decade, both Matt and Jeremy have enjoyed working in the kitchens and dining rooms of many of the area’s most highly respected restaurants, hotels and catering operations. Field Day is the culmination of those years of experience. This project was born of a desire to produce events with specific attention to service, quality and approachability. We strive to gain our clients’ trust and instill the confidence that all the details are covered. Our aim is for you to simply relax and enjoy your event.</p>

    <p>Our team specializes in creating seasonally-driven food and cocktail menus for a wide variety of gatherings and occasions. Working closely with local farmers, artisan producers and winemakers, we take pride in sourcing the highest quality ingredients for our events. The Pacific Northwest is arguably one of the country’s most exciting places to live, cook and dine. Field Day wants to help our clients explore and celebrate our region’s bounty. Please reach out to discuss your event. We look forward to hearing your ideas and designing a delicious experience for you and your guests.</p>
  </div>
  <div class="content-info">
    <p><a href="mailto:info@fielddaypdx.com" title="Email Field Day PDX">info@fielddaypdx.com</a></p>
    <p>@FieldDayPDX on <a href="https://www.facebook.com/Field-Day-261946047317413/" title="FieldDayPDX on Facebook" target="_blank">Facebook</a> / <a href="https://instagram.com/fielddayfeasts/" title="FieldDayPDX on Instagram" target="_blank">Instagram</a></p>
    <a class="content-info-button" href="mailto:info@fielddaypdx.com" title="Contact Us">Contact Us</a>
    <p><a href="/downloads/FieldDay-SampleMenus.pdf" title="" target="_blank">View Sample Menus</a></p>
  </div>
</section>
