<section class="slider js-slider">
  <img class="slider-image" src="/images/5.jpg" alt="">
  <img class="slider-image" src="/images/1.jpg" alt="">
  <img class="slider-image" src="/images/4.jpg" alt="">
  <img class="slider-image" src="/images/9.jpg" alt="">
  <img class="slider-image" src="/images/6.jpg" alt="">
  <img class="slider-image" src="/images/3.jpg" alt="">
  <img class="slider-image" src="/images/7.jpg" alt="">
  <img class="slider-image" src="/images/10.jpg" alt="">
  <img class="slider-image" src="/images/2.jpg" alt="">
  <img class="slider-image" src="/images/8.jpg" alt="">
  <ul class="slider-pager"></ul>
</section>
