.wrap {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 860px;
  @media #{$tiny-query} {
    padding: 0 20px;
  }
}
.wrap-medium {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 920px;
}
.wrap-small {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 760px;
}
