button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button {
  @include transition(background-color .3s ease-in-out);
  display: inline-block;
  padding: 14px 30px;
  font-family: $serif;
  font-size: 1.375em;
  font-weight: bold;
  letter-spacing: .02em;
  color: $white;
  background-color: $red;
  &:hover, &:focus {
    color: $white;
    background-color: darken($red, 10%);
  }
}
