@font-face {
  font-family: 'Austin';
  src: url('/fonts/Austin-Extrabold-Web.eot');
  src: url('/fonts/Austin-Extrabold-Web.eot?#iefix') format('embedded-opentype'),
     url('/fonts/Austin-Extrabold-Web.woff') format('woff'),
     url('/fonts/Austin-Extrabold-Web.ttf') format('truetype'),
     url('/fonts/Austin-Extrabold-Web.svg#Austin-Extrabold') format('svg');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin';
  src: url('/fonts/Austin-Italic-Web.eot');
  src: url('/fonts/Austin-Italic-Web.eot?#iefix') format('embedded-opentype'),
     url('/fonts/Austin-Italic-Web.woff') format('woff'),
     url('/fonts/Austin-Italic-Web.ttf') format('truetype'),
     url('/fonts/Austin-Italic-Web.svg#Austin-Italic') format('svg');
  font-weight:  300;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin';
  src: url('/fonts/Austin-Roman-Web.eot');
  src: url('/fonts/Austin-Roman-Web.eot?#iefix') format('embedded-opentype'),
     url('/fonts/Austin-Roman-Web.woff') format('woff'),
     url('/fonts/Austin-Roman-Web.ttf') format('truetype'),
     url('/fonts/Austin-Roman-Web.svg#Austin-Roman') format('svg');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}
